.btn {
    border: none;
    border-radius: 10px;
    background: #2D5E5E;
    padding: 6px 42px;
    white-space: nowrap;
    display: inline-flex;
    min-width: 250px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.33;
    border: 3px solid transparent;
    

    &_bordered {
        border-color:#2D5E5E;
        background: transparent;
    }
    
    &:hover,
    &:focus {
        opacity: .7;
    }
    &:active {
        opacity: .4;
    }
    &_name {
        grid-column: 1/2;
        grid-row: 2/7;
        max-height: 40px;
        max-width: 369px;
        
    }
    &_telef {
        grid-column: 1/2;
        grid-row: 3/7;
        max-height: 50px;
        max-width: 369px;
       margin-bottom: 87px;
       margin-top: 50px;
    }
    &_tema {
        grid-column: 1/2;
        grid-row: 4/7;
        max-height: 40px;
        max-width: 369px;
        margin-top: 110px;
    }
    &_max {
        // padding: 0;
        max-width: 350px;
        min-height: 180px;
        grid-column: 2/2;
        grid-row: 2/7;
        background: transparent;
        }

    // &_check {
            
    //         grid-column: 2/2;
    //         grid-row: 6/7;
            
    //     }
        &_send {
            margin-left: 250px;
            grid-column: 1/2;
            grid-row: 8/8;
            
        }



}
